<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="AF Server" value="MyAFServer"/>
      <add key="AF Database" value="HighAsset_Example"/>
      <add key="PI Data Archive" value="MyPIServer"/>
      <add key="Total SubTrees" value="10"/>
      <add key="Branches per SubTree" value="10"/>
      <add key="Leaves Per Branch" value="50"/>
      <add key="Elements per CheckIn" value="200"/>
      <add key="Max degrees of parallelism" value="8"/>
    </appSettings>
</configuration>